{% extends 'base.html' %}
{%block content%}
<div class="container shadow-sm d-flex align-item-center justify-content-center">
    <div class="content">
        <div class="jumbotron">
            <h1 class="display-4 text-white">Task Management</h1>
            <p class="lead text-muted display-6"> This is a simple and easy to use.</p>
            <hr class="my-4">
            <p class="text-white fw-lighter">It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary mx-2 text-white text-uppercase" aria-current="page" href="{% url 'newtask' %}">create</a>
                <a class="btn btn-primary mx-2 text-white text-uppercase" href="{% url 'completedtasks' %}">completed</a>
                <a class="btn btn-primary mx-2 text-white text-uppercase" href="{% url 'currenttasks' %}">current</a>
                
            </p>
          </div>
            
    </div>
    <!-- <div class="row">
        <div class="col-md-4 col-sm-11 mb-2">
            <div class="content">
                <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Task ID</div>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">{{item.id}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
</div>
<div class="main">
    
</div>
<!-- {% include 'todoapp/footer.html' %} -->
{% endblock %}
