{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content%}
<div class="container mt-2 text-white">
    <div class="row shadow">
        <div class="col-md-8 border rounded">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <!-- <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                {{ message }}
                        </li> -->
                        <div  role="alert" {% if message.tags %} class="alert alert-success {{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                            {{ message }}
                          </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="jumbotron shadow-sm p-3">
                <h1 class="display-4">Welcome to Task Management</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>Manage your tasks so easily</p>
                <p class="lead">
                    
                </p>
              </div>
        </div>
        <div class="col-md-4 shadow-sm p-3">
            <form  method="post">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-primary my-2" value="login">
                <hr class="my-5">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-11 col-md-6 col-mb-3">

        </div>
    </div>

    
</div>

{% endblock %}