{% extends 'base.html' %}
{%block content%}
<div class="container mt-2">
  
  {% if objects%}
  
      <h1 class="text-white">Completed Tasks</h1>

    <table class="table table-style table-striped ">
        
            <thead>
              <tr class="text-white">
                <th scope="col">ID</th>
              
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Important</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for item in objects %}
                <tr>
                    <th class="text-light fw-lighter" scope="row">{{item.id}}</th>
                    <td class="text-light fw-lighter"><small>{{item.title}}</small> </td>
                    <td class="text-light fw-lighter"> <small>{{item.description}}</small></td>
                    <td class="text-light fw-lighter"> <small>{{item.important}}</small></td>
                    <td class="text-light fw-lighter"> <a class="btn btn-danger rounded-0" href="{% url 'delete' pk=item.id %}">delete</a> </td>
                    
                  </tr>
                {% endfor %}
              
            </tbody>
      </table>
      {% else %}
      <h1 class="text-white">No task yet</h1>
      {% endif %}
    
</div>

{% endblock %}